.students-page {
  padding: 20px;
  background: #f8fbff;
}

.filter-box {
  text-align: center;
  margin: 15px 0;
}

#searchInput {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.student-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.student-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.student-card:hover {
  transform: translateY(-5px);
}

.student-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.student-card h4 {
  margin: 10px 0 5px;
  color: #0047ab;
}

.student-card p {
  font-size: 14px;
  color: #555;
}